*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.board-row{
  width:300px;
  height:100px;
  
}
.square{
  width:100px;
  height:100px;
  border:1px solid black;
  box-sizing: border-box;
  float:left;
}
